body {
    background: url('../images/movies-background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 200% 200%;
    animation: gradient 3s ease 1;
    padding: 20px;
    height: 60px;
    display: flex;
    align-items: center;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    30% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}